body {
  background: #171717;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 100%;
  height: 80px;
  text-align: start;
}